.btn{
    color: #2AA7FF;
    border: 1px solid #2AA7FF;
    border-radius: 5px;
    background-color: white;
    padding: 11px 0px;
    font-size: 16px;
}

.btn:focus{
    background-color: #2AA7FF; 
    color: white;  
    border-color: #2AA7FF;
    box-shadow: 0 0 0 3px rgba(42, 167, 255, 0.3); 
}

.tabs {
  padding: 10px 60px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

/* tab base */
.tab {
  text-align: center;
  padding: 12px 0 8px 0;
  cursor: pointer;
  font-weight: 500;
  color: #666;
  position: relative;
}

/* underline */
.tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

/* active tab */
.active {
  font-weight: 600;
}

.active::after {
  background-color: #007bff;
}



.tabs :global(.swiper-button-prev),
.tabs :global(.swiper-button-next) {
  width: 12px;
  height: 12px;
  padding: 22px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid #ddd;
  font-weight: bolder;
  top: 50%;                    
  transform: translateY(-16%); 
}

.tabs :global(.swiper-button-prev)::after,
.tabs :global(.swiper-button-next)::after {
  font-size: 14px;
  color: #333;
}
